@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-love {
    font-family: var(--love);
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


